@media only screen and (max-width: 600px) {
    body {
        /* background-color: lightblue; */
    }

    .Container
    {
        max-width:95%;
    }
    .wid_47 {
        width: 100%;
        padding: 1%;
    }

    .wid_32 {
        width: 100%;
        padding: 1%;
    }

    .sub_header>span {
        font-size: 56%;
    }

    .Application_Header {
        flex-wrap: wrap;
        align-self: center;
        align-content: center;
        justify-content: center;
    }

    hr {
        position: absolute;
        width: 100%;
        transform: translate(0%, -4px);
    }
}